<div class="container" id="container">

  <div class="content">
    <div id="category" class="responsive bg-overlay" style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(http://www.q8copy.com/wp-content/uploads/2014/11/shopping-bags-1.jpg) center; background-size: cover; background-position: center center; background-repeat: no-repeat;">
      <p>{{categoryName}}</p>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FE980F; margin-top: -2%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Ordenar por...</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Mais comprados</button>
            <button class="dropdown-item">Menor Preço</button>
            <button class="dropdown-item">Popularidade</button>
          </div>
        </div>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">OK</button>
      </form>
    </div>
  </nav>

  <div class="row">
    <ng-container *ngIf="rowsProduct != null">
      <div *ngFor="let i of rowsProduct" id="product" class="col-sm-2 col-md-3">
        <div class="block">

          <div class="top">
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <i class="fa fa-star-o" aria-hidden="true" (click)="addProductToWishList(i.id)"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0);">
                  <i class="fa fa-shopping-bag" aria-hidden="true" (click)="addProductToCart(i.id);"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="middle" (click)="listProduct(i.id)">
            <img src="{{i.location_aws}}" alt="pic" />
          </div>

          <div class="bottom" (click)="listProduct(i.id)">
            <div class="heading" (click)="listProduct(i.id)">
              <a href="javascript:void(0);">{{ i.name }}</a>
            </div>
            <div class="info">Teste</div>
            <div class="price">${{i.price}}
              <span class="old-price">$75.00</span>
            </div>
          </div>

        </div>
      </div>
    </ng-container>
  </div>

  <div class="row" *ngIf="rowsProduct == null" style="text-align: center">
    <h3>Algo deu errado</h3>
  </div>

  <nav aria-label="navigation">
    <ul class="pagination justify-content-center">
      <li *ngIf="this.page == 0" class="page-item disabled">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
      <li *ngIf="this.page != 0" class="page-item">
        <a class="page-link" (click)="btnClickPrevious()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
      <ng-container *ngFor="let i of arrLink">
        <li *ngIf="this.page == i.value" class="page-item active">
          <a class="page-link" (click)="changePage(i.value)">{{i.num}}</a>
        </li>
        <li *ngIf="this.page != i.value" class="page-item">
          <a class="page-link" (click)="changePage(i.value)">{{i.num}}</a>
        </li>
      </ng-container>
      <li *ngIf="this.page != this.lastItenArr" class="page-item">
        <a class="page-link" (click)="btnClickNext()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Próximo</span>
        </a>
      </li>
      <li *ngIf="this.page == this.lastItenArr" class="page-item disabled">
        <a class="page-link" (click)="btnClickNext()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Próximo</span>
        </a>
      </li>
    </ul>
  </nav>
</div>