li > a {
    color: #FE980F;
}

.h2-text {
    text-align: center;
}

#add {
    margin-right: 1%;
    margin-bottom: 2%;
}

#cancel {    
    margin-bottom: 2%; 
}

#btn-breadcrumb {
    color: #FE980F;
}

#btn-breadcrumb:hover {
    cursor: pointer;
}