<div class="container">
  <div class="content" style="margin-top: 2%">
    <p id="title">Carrinho</p>
    <hr id="line">
    <p *ngIf='emptyCart === true'> Não há nenhum produto no carrinho!</p>
  </div>

  <div class="row" style="margin-top: 5%; margin-bottom: 2%">
    <div class="col-sm-12 col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of cartRows">
            <td scope="row">
              <div id="leftsidemenu" (click)="listProduct(i.id)">
                <img src="{{i.location_aws}}" style="width: 80px; height: 80px;">
              </div>
              <div id="rigthsidemenu">
                <p>{{i.name}} - {{i.size}}</p>
              </div>
            </td>
            <td>
              <select (change)="change($event.target , i.id_item_cart)">
                <ng-container>
                  <option *ngFor="let j of arr;let k = index" [selected]="j === i.qtd" value="{{j}}">{{j}}</option>
                </ng-container>
              </select>
            </td>
            <td>R$ {{i.price}}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="delete(i.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="end">
        <div class="row" class="col-sm-12">
          <div *ngIf='shipBox === false' class="col-12" style="margin-top: 1%;">
            <p>Frete para:
              <b>{{adressInfo.street}}, 99, {{adressInfo.neighborhood}} - {{adressInfo.city}}</b>
            </p>
            <p>CEP:
              <b>{{currentCep}}</b>
            </p>
            <p>Valor Sedex:
              <b>R${{rowsShipping[0].Valor}}</b>
            </p>
            <p>Valor PAC:
              <b>R${{rowsShipping[1].Valor}}</b>
            </p>
            <a class="btn">
              <i (click)="getShipPrice(true)"></i> Escolher outro endereço
            </a>
          </div>

          <form class="form-inline" *ngIf='shipBox === true'>
            <div class="col-xs-6 col-sm-6 col-md-4" id="inputLabelCEP">
              <div class="form-group">
                <label id="labelCEP" for="cep">Calcule frete e prazo: </label>
                <input type="cep" class="form-control" id="cep" aria-describedby="cepHelp" placeholder="CEP" #cep>
              </div>
            </div>
            <div class="col-sm-2 col-md-2" id="btnCEP">
              <button (click)="getShipPrice(cep)" class="btn btn-success">OK</button>
            </div>
          </form>

        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-4" style="background-color:#f7f7f7; max-height: 360px">
      <h5 style="margin-top:5%">Resumo do pedido</h5>

      <div class="row" style="margin-top: 5%">
        <div class="col-6">
          <p id="subtotalText">Subtotal ({{sumQtdItems}} produto(s))</p>
        </div>
        <div class="col-6">
          <p style="float: right; color: #949494; font-size: 15px">R$ {{finalValue}}</p>
        </div>
      </div>
      <div class="row" style="margin-bottom: -5%">
        <div class="col-6">
          <p style="font-size: 15px">Frete</p>
        </div>
        <div class="col-6">
          <p *ngIf="rowsShipping != undefined" style="float: right; font-size: 15px">R$ {{rowsShipping[0].Valor}}</p>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-bottom: -5%">
        <div class="col-6">
          <p style="font-size: 15px">
            <b>Total</b>
          </p>
        </div>
        <div class="col-6">
          <p style="float: right; font-size: 15px">
            <b>R$ {{total}}</b>
          </p>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-bottom: -4%">
        <div class="col-2">
          <i id="iconCredit" class="fa fa-credit-card fa-2x"></i>
        </div>
        <div class="col-10 float-right" style="margin-top: 1%;" *ngIf="installments != 1">
          <p>R${{total}} por {{installments}}x de R${{division}}</p>
        </div>
        <div class="col-10" style="margin-top: 1%" *ngIf="installments == 1">
          <p>R$ {{total}} - Pagamento a vista</p>
        </div>
      </div>

      <hr>
      <div style="text-align: center">
        <button class="btn btn-success" style="float: center" (click)="redirectFinishPurchase()">Continuar</button>
        <p style="color: #949494; font-size: 12px; margin-top: 3%">Possui cupom? Você poderá usá-lo na etapa de
          pagamento.</p>
      </div>
    </div>
  </div>
</div>