.h2-text {
    text-align: center;
    padding: 3%;
}

thead {
    background-color: #FE980F;
    color: #fff;
}

#btn-add {
    float: right;
    margin-bottom: 1%;
}

.action {
    text-align: center;
}

td > .btn {
    margin-right: 1%;
}

.title-table {
    text-align: center;
    color: #FE980F;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td {
    width: 30em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    table {
        table-layout: fixed;
        width: 190%;
    }
    
    table td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}