.h2-text {
    text-align: center;
    padding: 3%;
}

thead {
    background-color: #FE980F;
    color: #fff;
}

#btn-add {
    float: right;
    margin-bottom: 1%;
}

.action {
    text-align: center;
}

td > .btn {
    margin-right: 1%;
}

.title-table {
    text-align: center;
}
