<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Entrar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
      </div>
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">ou</span>
    </div>
  </div>

  <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">
    <div class="modal-body">
      <div class="form-group">
        <label for="email1">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="">
      </div>
    </div>
    <div class="modal-footer">
      <!-->button type="button" class="btn" (click)="c('Close click')">Cancelar</button-->
      <button type="submit" id="principal-btn" class="btn">Entrar</button>
    </div>
  </form>
</ng-template>

<button id="principal_btn" class="{{ classes }}" (click)="openModal(content)">Entrar</button>