

.h2-text {
    text-align: center;
}

#add {
    margin-right: 1%;
    margin-bottom: 2%;
}

#cancel {    
    margin-bottom: 2%; 
}

.previewIcon{
    width:100px;height:100px;
    background-size:cover;
    background-repeat:no-repeat;
}
 
.inline-block{
    display:inline-block;
    margin:.2em;
}

#accCont {
    padding: 3%
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#btn-breadcrumb {
    color: #FE980F;
}

#btn-breadcrumb:hover {
    cursor: pointer;
}

#accSubProduct {
    margin: 2%;
}

#imgSubProduct {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
}

#chk-ctn {
    margin-left: 1%;
    margin-bottom: 2%
}

@media only screen and (max-width: 768px) { 
    #chk-ctn {
        margin-left: 2.3%;
        margin-bottom: 2%
    }
}