<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Tutu Guerra</h6>

        <img src="../../../assets/images/credit_card_icons/visa-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/mastercard-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/amex-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/elo-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/diners-48px.png" class="img-fluid">
        <br>
        <img src="../../../assets/images/credit_card_icons/aura-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/hipercard-48px.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/if_jcb_card_payment_358102.png" class="img-fluid">
        <img src="../../../assets/images/credit_card_icons/if_payment_method_discover_network_card_206686.png" class="img-fluid">
      </div>

      <hr class="w-100 clearfix d-md-none">

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Produtos</h6>
        <p *ngFor="let i of newCategoryList">
          <a href="javascript:void(0)" (click)="categoryListLoad(i.id)">{{ i.category }}</a>
        </p>
      </div>

      <hr class="w-100 clearfix d-md-none">

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Geral</h6>
        <p>
          <a href="javascript:void(0)" (click)="profile()">Minha conta</a>
        </p>
        <p>
          <a href="#!">Taxa de entrega</a>
        </p>
        <p>
          <a href="#!">Ajuda</a>
        </p>
      </div>

      <hr class="w-100 clearfix d-md-none">

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contate-nos</h6>
        <p>
          <i class="fa fa-envelope mr-3"></i> tutuguerra@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> (31)3222-2344</p>
        <a href="javascript:void(0)">Contate-nos</a>
      </div>
    </div>

    <hr>

    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">

        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="#">
            <strong> Engine Code</strong>
          </a>
        </p>

      </div>

      <div class="col-md-5 col-lg-4 ml-lg-0">

        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/tutuguerraoficial" target="_new">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/tutuguerraoficial" target="_new">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>